<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <style>
        .mt-20 {
            margin-top: 20px;
        }
    </style>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/product.js"></script>
</head>
<body>
    <div class="row mt-20">
        <div class="col-sm-12">
            @Html.DropDownList("accountid", new SelectList(ViewBag.ProductCategies, "CategoryID", "CategoryName"), "Select Product", new { @class = "form-control", id = "productDropdown" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="productTable" class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Discount</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
